.tile {
    width: 75px;
    height: 75px;
}

.black-tile {
    background-color: brown;
    color: white;
}
.white-tile {
    background-color: white
}
.tile img {
    /* width: 70px; */
}
.chess-pieces {
    width: 75px;
    height: 75px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70px;
}
.chess-pieces:hover {
    cursor: grab;
}
.chess-pieces:active {
    cursor: grabbing;
}
